<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teachers Database Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <a href="/teacher"><button type="submit" class="btn btn-info">Add More Into Teachers Databases</button></a>
    <a href="/"><button type="submit" class="btn btn-info">Home</button></a>
    <hr>
    <form action="/ttable" method="POST">
<div class="container">
  <h2>university_db</h2>
  <p>DBs "university_db", Table Name "teachers":</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>NO</th>
        <th>ID</th>
        <th>NAME</th>
        <th>DEPARTMENT</th>
        <th>AGE</th>
        <th>FEE/SELARY(TK)</th>
      
      </tr>
    </thead>
    <tbody> <% for(var i=0; i < info.length; i++) { %>
      <tr>
          <td># <%= (i+1) %></td>
          <td><%= info[i].tid %></td>
           <td><%= info[i].tname %></td>
           <td><%= info[i].tdpt %></td>
           <td><%= info[i].tage %></td>
           <td><%= info[i].tsl %></td>
      </tr>
  <% } %>
     
    </tbody>
  </table>
</div>
</form>
</body>
</html>

